HomericConsoleTest/bin/Debug/HomericConsoleTest.exe
HomericConsoleTest/bin/Debug/HomericConsoleTest.pdb
HomericConsoleTest/bin/Debug/HomericLibrary.dll
HomericConsoleTest/bin/Debug/HomericLibrary.pdb
HomericConsoleTest/obj/Debug/HomericConsoleTest.csprojResolveAssemblyReference.cache
HomericConsoleTest/obj/Debug/HomericConsoleTest.exe
HomericConsoleTest/obj/Debug/HomericConsoleTest.pdb
HomericLibrary/bin/Debug/HomericLibrary.dll
HomericLibrary/bin/Debug/HomericLibrary.pdb
HomericLibrary/obj/Debug/HomericLibrary.csproj.FileListAbsolute.txt
HomericLibrary/obj/Debug/HomericLibrary.dll
HomericLibrary/obj/Debug/HomericLibrary.pdb
